body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/public/assets/img/plano-de-fundo-login.png') no-repeat center center fixed;
    background-size: cover;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.reset-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 1px solid #007BFF;
    display: inline-block;
    padding-bottom: 5px;
}

p {
    color: #555;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 8px 36px 8px 8px; /* Restaurado para o tamanho original com padding à direita */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.reset-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #0056b3;
}

.back-to-login {
    margin-top: 10px;
    color: #007BFF;
    cursor: pointer;
}

.back-to-login:hover {
    text-decoration: underline;
}